packages/backend/prisma/dev.db
packages/backend/prisma/dev.db-journal
packages/frontend/src/components/IngredientInput.vue
.DS_Store
**/*/dist/
packages/frontend/src/components/archived
.env
packages/frontend/components.d.ts