body {
    background-image: url("./assets/pexels-ella-olsson-572949-1640777.jpg");
    background-size: cover;
    background-attachment: fixed;
}

details summary {
    cursor: pointer;
}

details summary>* {
    display: inline;
}

#app {
    min-width: fit-content;
    min-height: 100%;
}

.page-frame {
    margin: 1rem auto;
    margin-top: 1rem;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1)
}